<?xml version="1.0"?>

<robot name="diffbot">

    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
    <material name="wite">
        <color rgba="1 1 1 1"/>
    </material>
    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>
    <material name="yellow">
        <color rgba="1 1 0 1"/>
    </material>
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.02" radius="0.2"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.02" radius="0.2"/>
            </geometry>
            <material name="red"/>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="5"/>
            <inertia ixx="0.126164" ixy="0.0" ixz="0.0" iyy="0.416519" iyz="0.0" izz="0.481014"/>
        </inertial>
    </link>
    <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder length="0.02" radius="0.04"/>
            </geometry>
            <origin rpy="1.57075 0 0" xyz="0 0 0"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.02" radius="0.04"/>
            </geometry>
            <origin rpy="1.57075 0 0" xyz="0 0 0"/>
            <material name="blue"/>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1.14395"/>
            <inertia ixx="0.126164" ixy="0.0" ixz="0.0" iyy="0.416519" iyz="0.0" izz="0.481014"/>
        </inertial>
    </link>
    <joint name="base_link_left_wheel" type="fixed">
        <parent link="base_link"/>
        <child link="left_wheel"/>
        <origin xyz="0 -0.2 0"/>
    </joint>
    <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder length="0.02" radius="0.04"/>
            </geometry>
            <origin rpy="1.57075 0 0" xyz="0 0 0"/>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.02" radius="0.04"/>
            </geometry>
            <origin rpy="1.57075 0 0" xyz="0 0 0"/>
            <material name="blue"/>
        </collision>
        <inertial>
            <origin xyz="-0.151427 -0 0.5" rpy="0 0 0"/>
            <mass value="1.14395"/>
            <inertia ixx="0.126164" ixy="0.0" ixz="0.0" iyy="0.416519" iyz="0.0" izz="0.481014"/>
        </inertial>
    </link>
    <joint name="base_link_right_wheel" type="fixed">
        <parent link="base_link"/>
        <child link="right_wheel"/>
        <origin xyz="0 0.2 0"/>
    </joint>
    <link name="caster">
        <visual>
            <geometry>
                <sphere radius="0.02"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="wite"/>
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.02"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="wite"/>
        </collision>
        <inertial>
            <origin xyz="-0.151427 -0 0.5" rpy="0 0 0"/>
            <mass value="1.14395"/>
            <inertia ixx="0.126164" ixy="0.0" ixz="0.0" iyy="0.416519" iyz="0.0" izz="0.481014"/>
        </inertial>
    </link>
    <joint name="base_link_caster" type="fixed">
        <parent link="base_link"/>
        <child link="caster"/>
        <origin xyz="0.16 0 -0.028"/>
    </joint>
    <link name="lydar">
        <visual>
            <geometry>
                <box size="0.04 0.04 0.04"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="yellow"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.04 0.04 0.04"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="yellow"/>
        </collision>
        <inertial>
            <origin xyz="-0.151427 -0 0.5" rpy="0 0 0"/>
            <mass value="1.14395"/>
            <inertia ixx="0.126164" ixy="0.0" ixz="0.0" iyy="0.416519" iyz="0.0" izz="0.481014"/>
        </inertial>
    </link>
    <joint name="base_link_lydar" type="fixed">
        <parent link="base_link"/>
        <child link="lydar"/>
        <origin xyz="0.14 0 0.03"/>
    </joint>

    <gazebo>
        <!-- Joint state publisher -->
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <!-- <parameters>$(find gazebo_ros2_control_demos)/config/diff_drive_controller.yaml</parameters> -->
        </plugin>
    </gazebo>

</robot>